{% extends  'dashboard/box.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/list_style.css'%}">
{% endblock %}
{% block title %}
    Contratos ({{ current }})
{% endblock %}

{% block alert %}
    {% if messages %}
        {% for message in messages %}
            {% if 'status' in message.tags %}
                <div class="alert alert-info alert-dismissible margin">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span> {{ message }}</span>
                </div>
            {% endif %}
            {% if 'deleted' in message.tags %}
                <div class="alert alert-success alert-dismissible margin">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4><i class="icon fa fa-check"></i> Contrato Excluido!</h4>
                    <span>{{ message }}</span>
                </div>
            {% endif %}
            {% if 'updated' in message.tags %}
                <div class="alert alert-success alert-dismissible margin">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4><i class="icon fa fa-check"></i> Contrato Atualizado!</h4>
                    <span>{{ message }}</span>
                </div>
            {% endif %}
            {% if 'registred' in message.tags %}
                <div class="alert alert-success alert-dismissible margin">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4><i class="icon fa fa-check"></i> Contrato Cadastrado!</h4>
                    <span>{{ message }}</span>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
{% block page_title %}
    Contratos
{% endblock %}
{% block page_description %}
    {{ current }}
{% endblock %}
{% block box_classes %}
    {% ifequal current.lower 'em progresso' %}
        box-success
    {% endifequal %}
    {% ifequal current.lower 'finalizados' %}
        box-danger
    {% endifequal %}
    {% ifequal current.lower 'todos' %}
        box-primary
    {% endifequal %}
{% endblock %}
{% block box_header %}
    <div class="col-xs-offset-7  col-sm-offset-9 col-md-offset-9 col-lg-offset-11">
        <a href="{% url 'new_contract' %}" class="btn btn-success"><i class="fa fa-plus">Novo Contrato</i></a>
    </div>
{% endblock %}
{% block table %}
    <style>
        td{
            vertical-align: bottom;
        }
    </style>
    <div class="container-fluid">
        <table id="table-contracts" class="table table-hover"  style="width:100%">
            <thead>
                <tr>
                    <th class="align-middle">ID</th>
                    <th>Nome</th>
                    <th>Duração</th>
                    <th>Inicio</th>
                    <th>Término</th>
                    <th>Ver</th>
                    <th>Editar</th>
                    <th>Deletar</th>
                </tr>
            </thead>
            <tbody>
                {% for contract in contracts %}
                    <tr>
                        <td>{{ contract.id }}</td>
                        <td>{{ contract }}</td>
                        <td>± {{ contract.get_duration.days }} Dias</td>
                        <td>{{ contract.start_date | date:'d/m/Y' }}</td>
                        <td>{{ contract.end_date | date:'d/m/Y' }}</td>
{#                        <td>#}
{#                            <form action="% url 'change_service_status' person.id %">#}
{#                                <button class="btn-link" type="submit"   style="text-decoration:none;padding: 0;">#}
{#                                    {{ person.get_active_label | safe }}#}
{#                                </button>#}
{#                            </form>#}
{#                        </td>#}
                        <td>
                            <a class="btn btn-info" href="{% url 'show_contract' contract.id %}"><i class="fa fa-eye"></i></a>
                        </td>
                        <td>
                            <a class="btn btn-warning" href="{% url 'update_contract' contract.id %}"><i class="fa fa-edit"></i></a>
                        </td>
                        <td>
                            <a  class="btn btn-danger" data-toggle="modal" data-target="#modal-delete{{ contract.id }}"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    <div class="modal modal-danger fade in" id="modal-delete{{ contract.id }}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">×</span></button>
                                <h4 class="modal-title">Deletar Contrato</h4>
                              </div>
                              <div class="modal-body">
                                  <p>Tem Certeza que deseja <strong>deletar {{ contract.get_contract_title }} com o id {{ contract.id }} ?</strong></p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                                  <form action="{% url 'delete_contract' contract.id %}" method="post">
                                      {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                  </form>
                              </div>
                            </div>
                        <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                {% endfor %}
                {% if not contracts   %}
                    {% ifnotequal current 'Todos' %}
                        <td colspan="7">
                            Nenhum dos Contratos estão {{ current }}
                        </td>
                    {% else %}
                        <td colspan="7">
                            Nenhum Contrato Cadastrado
                        </td>
                    {% endifnotequal %}
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block scripts %}
    {% if contracts|length > 0 %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
        <script>
        $(document).ready( function () {
            $('#table-contracts').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'print',
                        text: 'Gerar Relatorio de {{ current }}',
                        className: 'btn btn-primary',
                        exportOptions: {
                            columns: [0,1,2,3,4]
                        }
                    },
                ],
                "language": {
                    "lengthMenu": "Mostrar _MENU_ por Página",
                    "zeroRecords": "Nenhum Registro de Contratos",
                    "info": "Pagina _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum registro disponivel",
                    "search":"Pesquisar",
                    "paginate": {
                        "previous": "Anterior",
                        "next": "Próximo",
                    },
                    "infoFiltered": "(Filtrado de _MAX_ Registros)"
                },
            });
        } );
        </script>
    {% endif %}
{% endblock %}