{% extends  'dashboard/box.html' %}
{% load bootstrap %}
{% block title %}
    Editar Contrato
{% endblock %}
{% block page_title %}
    Contratos
{% endblock %}
{% block page_description %}
    Editar Contrato
{% endblock %}
{% block box_classes %}
    box-warning
{% endblock %}
{% block table %}
    <div class="container">
        <form class="margin-bottom" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{ form | bootstrap }}
            <button type="submit" class="btn btn-success">Salvar</button>
        </form>
    </div>
{% endblock %}