{% extends  'dashboard/box.html' %}
{% block title %}
    Clientes {{ current }}
{% endblock %}
{% block page_title %}
    Clientes
{% endblock %}
{% block page_description %}
    {{ current }}
{% endblock %}
{% block box_classes %}
    {% ifequal current.lower 'ativos' %}
        box-success
    {% endifequal %}
    {% ifequal current.lower 'inativos' %}
        box-danger
    {% endifequal %}
    {% ifequal current.lower 'todos' %}
        box-primary
    {% endifequal %}
{% endblock %}
{% block box_header %}
    <div class="col-xs-4 col-lg-3 col-xs-offset-6  col-sm-offset-8 col-md-offset-9 col-lg-offset-11">
        <a href="{% url 'new_client' %}" class="btn btn-success"><i class="fa fa-plus"> Novo Cliente</i></a>
    </div>
{% endblock %}
{% block table %}
    <table class="table table-hover">
        <tbody>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Idade</th>
                <th>Status</th>
                <th colspan="3">Ações</th>
            </tr>
            {% for person in persons %}
                <tr>
                    <td>{{ person.id }}</td>
                    <td>{{person.first_name }}  {{person.last_name}}</td>
                    <td>{{ person.age }}</td>
                    <td>
                        {{ person.get_active_label | safe }}
                    </td>
                    <td>
                        <a class="btn btn-info" href="{% url 'show_client' person.id %}"><i class="fa fa-eye"></i></a>
                    </td>
                    <td>
                        <a class="btn btn-warning" href="{% url 'update_client' person.id %}"><i class="fa fa-edit"></i></a>
                    </td>
                    <td>
                        <a  class="btn btn-danger" data-toggle="modal" data-target="#modal-delete{{ person.id }}"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                <div class="modal modal-danger fade in" id="modal-delete{{ person.id }}">
                    <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">×</span></button>
                            <h4 class="modal-title">Deletar Cliente</h4>
                          </div>
                          <div class="modal-body">
                            <p>Tem Certeza que deseja deletar {{ person.first_name }} {{ person.last_name }}?</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                              <form action="{% url 'delete_client' person.id %}" method="post">
                                  {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete</button>
                              </form>
                          </div>
                        </div>
                    <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
            {% endfor %}
            {% if not persons    %}
                <td colspan="7">
                    Nenhum Cliente Ativo
                </td>
            {% endif %}
        </tbody>
    </table>
{% endblock %}