{% extends  'dashboard/box.html' %}
{% load bootstrap %}
{% block title %}
    Novo Cliente
{% endblock %}
{% block page_title %}
    Clientes
{% endblock %}
{% block page_description %}
    Novo
{% endblock %}
{% block box_classes %}
    box-success
{% endblock %}
{% block table %}
    <div class="container">
        <form  class="margin-bottom" enctype="multipart/form-data" action="{% url 'new_client' %}" method="POST">
            {% csrf_token %}
            <h3 class="text-blue">Dados do Cliente</h3>
            {{ form | bootstrap }}
            <hr>
            <h4 class="text-info">Endereço</h4>
            {{ form_adress | bootstrap }}
            <button class="btn btn-success" type="submit">Salvar</button>
        </form>
    </div>
{% endblock %}