{% extends 'base.html' %}
{% load static %}
{% block css %}
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="{% static 'dist/css/skins/_all-skins.min.css' %}">
{% endblock %}
{% block body_classes %}hold-transition skin-blue sidebar-mini sidebar-collapse skin-red{% endblock %}
{% block body %}
    <div class="wrapper">
        {% include 'dashboard/includes/header.html' %}
        {% include 'dashboard/includes/aside.html' %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {% block page_title %} {% endblock %}
                <small>
                    {% block page_description %} {% endblock %}
                </small>
            </h1>
        </section>
        <!-- Main content -->
        <section class="content container-fluid">
            {% block content %} {% endblock %}
        </section>
        <!-- /.content -->
        </div>
    </div>
    {% block scripts %}
        <!-- AdminLTE App -->
        <script src="{% static 'dist/js/adminlte.min.js' %}"></script>
    {%  endblock %}
{% endblock %}