{% extends  'dashboard/box.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/list_style.css'%}">
{% endblock %}
{% block title %}
    Serviços ({{ current }})
{% endblock %}

{% block alert %}
    {% if messages %}
        {% for message in messages %}
            {% if 'status' in message.tags  and 'success' in message.tags  %}
                <div class="alert alert-danger alert-dismissible margin">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4><i class="icon fa fa-check"></i> Status Não Alterado!</h4>
                    <span> {{ message }}</span>
                </div>
            {% endif %}
            {% if 'status' in message.tags and 'error' in message.tags %}
                <div class="alert alert-success alert-dismissible margin">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4><i class="icon fa fa-check"></i> Status Alterado!</h4>
                    <span> {{ message }} </span>
                </div>
            {% endif %}
            {% if 'deleted' in message.tags %}
                <div class="alert alert-success alert-dismissible margin">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4><i class="icon fa fa-check"></i> Serviço Excluido!</h4>
                    <span>{{ message }}</span>
                </div>
            {% endif %}
            {% if 'updated' in message.tags %}
                <div class="alert alert-success alert-dismissible margin">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4><i class="icon fa fa-check"></i> Serviço Atualizado!</h4>
                    <span>{{ message }}</span>
                </div>
            {% endif %}
            {% if 'registred' in message.tags %}
                <div class="alert alert-success alert-dismissible margin">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4><i class="icon fa fa-check"></i> Serviço Cadastrado!</h4>
                    <span>{{ message }}</span>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
{% block page_title %}
    Serviços
{% endblock %}
{% block page_description %}
    {{ current }}
{% endblock %}
{% block box_classes %}
    {% ifequal current.lower 'ativos' %}
        box-success
    {% endifequal %}
    {% ifequal current.lower 'inativos' %}
        box-danger
    {% endifequal %}
    {% ifequal current.lower 'todos' %}
        box-primary
    {% endifequal %}
{% endblock %}
{% block box_header %}
    <div class="col-xs-offset-7  col-sm-offset-9 col-md-offset-9 col-lg-offset-11">
        <a href="{% url 'new_service' %}" class="btn btn-success"><i class="fa fa-plus">Novo Serviço</i></a>
    </div>
{% endblock %}
{% block table %}
    <style>
        td{
            vertical-align: bottom;
        }
    </style>
    <div class="container-fluid">
        <table id="table-services" class="table table-hover"  style="width:100%">
            <thead>
                <tr>
                    <th class="align-middle">ID</th>
                    <th>Nome</th>
                    <th>Preço do Serviço</th>
                    <th>Funcionários Disponiveis</th>
                    <th>Status</th>
                    <th >Ver</th>
                    <th>Editar</th>
                    <th>Deletar</th>
                </tr>
            </thead>
            <tbody>
                {% for service in services %}
                    <tr>
                        <td>{{ service.id }}</td>
                        <td>{{ service.name }}</td>
                        <td>{{ service.price }}</td>
                        <td>{{ service.employees_available }}</td>
                        <td>
                            <form action="{% url 'change_service_status' service.id %}">
                                <button class="btn-link" type="submit"   style="text-decoration:none;padding: 0;">
                                    {{ service.get_active_label | safe }}
                                </button>
                            </form>
                        </td>
                        <td>
                            <a class="btn btn-info" href="{% url 'show_service' service.id %}"><i class="fa fa-eye"></i></a>
                        </td>
                        <td>
                            <a class="btn btn-warning" href="{% url 'update_service' service.id %}"><i class="fa fa-edit"></i></a>
                        </td>
                        <td>
                            <a  class="btn btn-danger" data-toggle="modal" data-target="#modal-delete{{ service.id }}"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    <div class="modal modal-danger fade in" id="modal-delete{{ service.id }}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">×</span></button>
                                <h4 class="modal-title">Deletar Serviço</h4>
                              </div>
                              <div class="modal-body">
                                  <p>Tem Certeza que deseja deletar <strong>{{ service.name }}</strong> deletar este serviço <strong> apagará {{ service.contracts.count }} contrato(s)</strong> ligados a ele?</p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                                  <form action="{% url 'delete_service' service.id %}" method="post">
                                      {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                  </form>
                              </div>
                            </div>
                        <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                {% endfor %}
                {% if not services   %}
                    {% ifnotequal current 'Todos' %}
                        <td colspan="7">
                            Nenhum dos Serviços estão {{ current }}
                        </td>
                    {% else %}
                        <td colspan="7">
                            Nenhum Serviço Cadastrado
                        </td>
                    {% endifnotequal %}
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block scripts %}
    {% if services|length > 0 %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
        <script>
        $(document).ready( function () {
            $('#table-services').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'print',
                        text: 'Gerar Relatório de {{ current }}',
                        className: 'btn btn-primary',
                        exportOptions: {
                            columns: [0,1,2,3,4,]
                        }
                    },
                ],
                "aoColumnDefs": [0,1,2,3,4],
                "language": {
                    "lengthMenu": "Mostrar _MENU_ por Página",
                    "zeroRecords": "Nenhum Registro de Serviços",
                    "info": "Pagina _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum registro disponivel",
                    "search":"Pesquisar",
                    "paginate": {
                        "previous": "Anterior",
                        "next": "Próximo",
                    },
                    "infoFiltered": "(Filtrado de _MAX_ Registros)"
                },
            });
        } );
        </script>
    {% endif %}
{% endblock %}